.HD_aichatbot-mbox-mtmg {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 13px;
  min-width: 425px;
  max-width: 425px;
}

.HD_aichatbot-mtmg {
  width: 100%;
  position: relative;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  float: left;
  border-radius: 2px;
}

.HD_aichatbot-mtmg-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

.HD_aichatbot-mtmg-subject {
  text-align: start;
  display: inline-block;
  font-size: 15px;
  padding: 5px 9px;
}

.HD_aichatbot-mtmg-toogleItem {
  width: 100%;
  height: 100%;
}

.HD_aichatbot-mtmg-body {
  height: 50px;
  background: #6264a7;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.HD_aichatbot-mtmg-body:hover {
  opacity: 0.9;
}

.HD_aichatbot-mtmg-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
}

.HD_aichatbot-mtmg-item > svg {
  width: 23px;
  height: 23px;
}

.HD_aichatbot-mtmg-content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.HD_aichatbot-mtmg-date {
  color: #cecece;
  font-size: 13px;
}

.HD_aichatbot-mtmg-body-bottom {
  display: flex;
  flex-direction: row;
  padding: 9px;
  color: #6264a7;
  cursor: pointer;
  font-size: 13px;
}

.HD_aichatbot-mtmg-bottom--tptitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HD_aichatbot-mtmg-bottom--tptitle > svg,
.HD_aichatbot-mtmg-body-bottom--bttitle > svg {
  color: #6264a7a1;
}

.HD_aichatbot-mtmg-toogleContent {
  display: none;
  height: auto;
  min-height: 60px;
  flex-direction: column;
}

.HD_aichatbot-mtmg-toogleContent--click {
  display: flex;
}

.HD_aichatbot-mtmg-right-icon {
  right: 10px;
  cursor: pointer;
  height: 100%;
  background: transparent !important;
}

.HD_aichatbot-mtmg-body .HD_aichatbot-dropdown-container {
  height: 100%;
}

.HD_aichatbot-mtmg-right-icon > svg {
  width: 23px;
  height: 23px;
}

.HD_aichatbot-mitem {
  display: flex;
  padding: 10px 8px;
}

.HD_aichatbot-mitem:hover,
.HD_aichatbot-mitem-event:hover {
  background: #ececec;
}

.HD_aichatbot-mitem-event {
  user-select: none;
}

.HD_aichatbot-mitem-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.HD_aichatbot-mitem-body-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.HD_aichatbot-mitem-body--top {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  user-select: none;
}

.HD_aichatbot-mitem-body--top-title {
  font-size: 15px;
  color: #6264a7;
  padding: 0px 15px 0 0;
  text-transform: capitalize;
  font-weight: 600;
}

.HD_aichatbot-mitem-body--top-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.HD_aichatbot-mitem-body--bottom-title {
  color: #252525;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.HD_aichatbot-mitem-body--top-time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.HD_aichatbot-mitem-bottom-body {
  padding: 10px 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.HD_aichatbot-mitem-body.avatar {
  padding: 8px 10px 0 0;
}

.HD_aichatbot-mitem.avatar {
  padding: 8px 5px 0 0;
}

.HD_aichatbot-mitem.no-avatar {
  padding: 8px 10px 0 0;
}

.HD_aichatbot-mitem.no-avatar > svg {
  width: 19px;
  height: 19px;
}

.HD_aichatbot-mitem.avatar img {
  width: 22px;
  height: 22px;
  border: none !important;
  background: #ccc;
  border-radius: 100%;
}

.HD_aichatbot-mitem-body.avatar > svg {
  width: 19px;
  height: 19px;
}

.HD_aichatbot-mitem-bottom-body-top {
  display: flex;
  flex-direction: column;
}

.HD_aichatbot-mitem-bottom-body-top-title > svg {
  padding: 0 7px 0 0;
}

.HD_aichatbot-mitem-avatar-content {
  position: absolute;
  right: 10px;
  display: flex;
}

.HD_aichatbot-mitem-avatar {
  padding: 0 3px 0 0;
  display: flex;
}

.HD_aichatbot-mitem-tooltip {
  display: inline;
  position: relative;
}

.HD_aichatbot-mitem-tooltip-text {
  margin: 5px;
}

.HD_aichatbot-mitem-tooltip-text:after {
  content: '';
  left: 15%;
  top: 29px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 11px solid #444;
  opacity: 0;
  transition: opacity 0.8s linear 0.2s;
}

.HD_aichatbot-mitem-tooltip[tooltip]:after {
  display: flex;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(tooltip);
  font-size: 14px;
  padding: 5px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s linear 0.2s;
  min-width: 415px;
  max-width: 415px;
  top: 40px;
  right: -13px;
  z-index: 1;
}

.HD_aichatbot-mitem-tooltip-text:hover:after {
  opacity: 1;
  transition: opacity 0.8s linear;
}

.HD_aichatbot-mitem-tooltip[tooltip]:hover:after {
  opacity: 1;
  transition: opacity 0.8s linear 0.1s;
}

.HD_aichatbot-mitem-tooltip[tooltip]:hover .HD_aichatbot-mitem-tooltip-text:after {
  opacity: 1;
}

.HD_aichatbot-mitem-length {
  color: #fff;
  font-size: 14px;
  background: #e48989;
  display: flex;
  align-items: center;
  text-align: center;
  width: 25px;
  height: 25px;
  display: flex;
  border-radius: 50%;
}

.HD_aichatbot-mitem-avatar img {
  width: 50px;
  height: 50px;
  border: none !important;
  background: #ccc;
  border-radius: 100%;
}

.HD_aichatbot-mtmg-call-record {
  width: 350px;
  height: 85%;
  background: #eaeaea;
  margin-top: 11px;
}

.HD_aichatbot-mtmg-call-body {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
}

.HD_aichatbot-mtmg-call-avatars {
  width: 140px !important;
  height: 100px !important;
  position: relative;
}

.HD_aichatbot-mtmg-call-avatars img {
  width: 100% !important;
  height: 100% !important;
  background: #ccc;
  cursor: pointer;
}

.HD_aichatbot-mtmg-call-body-title {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 30px;
  left: 15px;
}

.HD_aichatbot-mtmg-call-body-title > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 185px;
}

.HD_aichatbot-mtmg-call-body-bottom {
  color: #505050;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 185px;
  font-size: 12px;
}

.HD_aichatbot-mtmg-record-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 13px;
  background: #000000cf;
  color: white;
  padding: 4px;
  border-radius: 5px;
}
